$color-box-shadow-regular: rgba(0, 0, 0, 0.3);

$color-active: #e6f1fa;
$color-hover: #f2f8fd;
$color-over: #e9edfe;
$color-over-text: #6774ff;
$color-focus: $color-over-text;
$color-enabled: #eee;
$color-disabled: #ccc;
$color-disabled-text: #505050;
$color-disabled-focus: rgba($color-disabled-text, 0.8);
$color-button: #fff;
$color-button-text: #1a73d9;
$color-button-disabled: #dddddd;
$color-button-disabled-text: #878787;

$color-correct-dark: #255c41;
$color-correct-light: #b6e4ce;
$color-correct-box-shadow: #a2bdb0;
$color-wrong-dark: #b71c1c;
$color-wrong-light: #fbd7d8;
$color-wrong-box-shadow: #deb8b8;

$icon-button-down: '\f107';
$icon-button-up: '\f106';
$icon-separator: '\f175';
$icon-correct: '\f00c';
$icon-wrong: '\f00d';
$icon-solution: '\f06e';
