.h5p-sort-paragraphs {
  --icon-fontawesome-angle-down: "\f107";
  --icon-fontawesome-angle-up: "\f106";
  --icon-h5ptheme-checkmark: "\e903";
  --icon-h5ptheme-show-solutions: "\e905";
  --icon-h5ptheme-xmark: "\e902";
}

/* Firefox would show focus on clicking a disabled paragraph */
.h5p-content:not(.using-mouse) .h5p-sort-paragraphs {
  .h5p-sort-paragraphs-paragraph.h5p-sort-paragraphs-disabled:focus {
    border-color: var(--h5p-theme-contrast-cta-white);
    outline: none;
  }

  .h5p-sort-paragraphs-paragraph:not(.h5p-sort-paragraphs-disabled):focus {
    border-color: var(--h5p-theme-contrast-cta-white);
    outline: none;
  }
}
